mixin drink1(img,textZH,textEN)
    div(class="icon")
        img(src="imgs/" + img + ".png", alt="連結縮圖")
        span=textZH
        br
        p=textEN
mixin more(textZH,m,l)
    div(class="more")
        span=textZH
        p=m
        p=l
<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        title 50嵐 | 飲品介紹
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="imgs/icon.ico", type="image/x-icon")
    body
        include nav.pug
        h1 飲品介紹
        div(id="drink")            
            div(class="all")
                div(class="tea")
                    +drink1("icon1", "找好茶" , "Flavored Tea")
                    +more("", "M", "L")
                    +more("茉莉綠茶", "25", "30")
                    +more("阿薩姆紅茶", "25", "30")
                    +more("四季春青茶", "25", "30")
                    +more("黃金烏龍", "25", "30")
                    +more("波霸紅/綠", "30", "40")
                    +more("燕麥紅/綠/青", "30", "40")
                    +more("微檸檬紅/青", "30", "40")
                    +more("檸檬綠/青", "35", "50")
                    +more("梅子綠", "35", "50")
                    +more("8冰綠", "35", "50")
                    +more("多多綠", "35", "50")
                    +more("冰淇淋紅茶", "35", "50")
                    +more("旺來紅/青", "35", "50")
                    +more("蜂蜜紅/綠(季節限定)", "35", "50")
                    +more("鮮柚綠(季節限定)", "45", "60")
                div(class="latte")
                    +drink1("icon2", "找拿鐵" , "Tea Latte")
                    +more("", "M", "L")
                    +more("紅茶/綠茶拿鐵", "45", "60")
                    +more("烏龍拿鐵", "45", "60")
                    +more("珍珠紅茶拿鐵", "45", "60")
                    +more("波霸紅茶拿鐵", "45", "60")
                    +more("燕麥紅茶拿鐵", "45", "60")
                    +more("燕麥烏龍拿鐵", "45", "60")
                    +more("布丁紅茶拿鐵", "50", "70")
                    +more("冰淇淋紅茶拿鐵", "50", "70")
                    +more("冰淇淋烏龍拿鐵", "50", "70")
                    +more("阿華田拿鐵", "50", "70")
                    +more("可可芭蕾拿鐵", "50", "70")
                div(class="milk")
                    +drink1("icon3", "找奶茶" , "Milk Tea")
                    +more("", "M", "L")
                    +more("奶茶", "35", "50")
                    +more("奶綠", "35", "50")
                    +more("烏龍奶茶", "35", "50")
                    +more("珍珠奶茶", "35", "50")
                    +more("波霸奶茶", "35", "50")
                    +more("燕麥奶茶", "35", "50")
                    +more("燕麥奶青", "35", "50")
                    +more("蜂蜜奶茶(季節限定)", "45", "60")
                    +more("布丁奶茶", "45", "60")
                    +more("冰淇淋奶茶", "45", "60")
                    +more("紅茶瑪奇朵(鮮奶油)", "35", "50")
                    +more("青茶瑪奇朵(鮮奶油)", "35", "50")
                    +more("阿華田", "40", "55")
                    +more("燕麥阿華田", "40", "55")
                    +more("可可芭蕾", "45", "60")
                div(class="juice")
                    +drink1("icon4", "找新鮮" , "Fresh Juice")
                    +more("", "M", "L")
                    +more("檸檬汁", "45", "60")
                    +more("檸檬蜜(季節限定)", "50", "70")
                    +more("金桔檸檬", "45", "60")
                    +more("金桔檸檬蜜(季節限定)", "50", "70")
                    +more("檸檬梅汁", "45", "60")
                    +more("檸檬多多", "50", "70")
                    +more("葡萄柚汁(季節限定)", "45", "60")
                    +more("葡萄柚蜜(季節限定)", "50", "70")
                    +more("葡萄柚多多(季節限定)", "50", "70")
                    +more("8冰茶", "35", "50")
        include footer.pug